@font-face {
    font-family: 'Arboria';
    src: url(https://midia.fotos-riachuelo.com.br/spa-storefront/public/fonts/arboria-medium.woff
) format('woff');
}
@font-face {
    font-family: 'Arboria';
    src: url(https://midia.fotos-riachuelo.com.br/spa-storefront/public/fonts/arboria-bold.woff
) format('woff');
}
@font-face {
    font-family: 'Arboria';
    src: url(https://midia.fotos-riachuelo.com.br/spa-storefront/public/fonts/arboria-medium.woff
);
}
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;font-family:Arboria;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}main{width:100%;max-width:1380px;margin:0 auto}
img{max-width: 100%;}

#searchBar{
    width: 100%;
    min-width: 64%;
    max-width: 64%;
    float: left;
}
#account{
    width: 100%;
    min-width: 35%;
    max-width: 35%;
    text-align: right;
    float: right;
}
form{width: 100%;}
#searchInput{
    min-width: 95%;
    color: currentColor;
    width: 100%;
    border: 0;
    height: 1.1876em;
    margin: 0;
    display: block;
    padding: 6px 0 7px;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    animation-name: mui-auto-fill-cancel;
    letter-spacing: inherit;
    animation-duration: 10ms;
    -webkit-tap-highlight-color: transparent;
    height: 40px;
    padding: 0 10px;
    border-radius: 2px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-left: 5%;
}
#autocompleteResults{
    position: absolute;
    width: 400px;
    max-width: 400px;
    min-width: 883px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    margin-left: 43px;
    min-height: 100px;
    padding: 10px;
}
h4{
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 10px;
    color: #333;
        -webkit-font-smoothing: antialiased;
    --genos--colors-primary: #000000;
    --genos--colors-primaryLight: #999999;
    --genos--colors-primaryDark: #000000;
    --genos--colors-primarySoft: #CCCCCC;
    --genos--colors-primaryContrast: #FFFFFF;
    --genos--colors-secondary: #000000;
    --genos--colors-secondaryLight: #999999;
    --genos--colors-secondaryDark: #000000;
    --genos--colors-secondarySoft: #CCCCCC;
    --genos--colors-secondaryContrast: #FFFFFF;
    --genos--colors-actionStandard: #0071A3;
    --genos--colors-actionStandardSoft: #E6F1F6;
    --genos--colors-actionStandardHover: #338DB5;
    --genos--colors-actionStandardContrast: #FFFFFF;
    --genos--colors-actionNavigation: #0071A3;
    --genos--colors-actionNavigationSoft: #E6F1F6;
    --genos--colors-actionNavigationHover: #338DB5;
    --genos--colors-actionNavigationContrast: #FFFFFF;
    --genos--colors-actionConversion: #008844;
    --genos--colors-actionConversionSoft: #CCE7DA;
    --genos--colors-actionConversionHover: #33A069;
    --genos--colors-actionConversionContrast: #FFFFFF;
    --genos--colors-neutral: #737373;
    --genos--colors-neutralLight: #B2B2B2;
    --genos--colors-neutralDark: #141414;
    --genos--colors-neutralSoft: #CCCCCC;
    --genos--colors-neutralBody: #737373;
    --genos--colors-neutralBodyLight: #B2B2B2;
    --genos--colors-neutralBodyDark: #141414;
    --genos--colors-error: #C6352F;
    --genos--colors-errorLight: #FFE8E5;
    --genos--colors-success: #008844;
    --genos--colors-successLight: #EBFAF1;
    --genos--colors-alert: #FF9700;
    --genos--colors-alertLight: #FBC679;
    --genos--colors-info: #0071A3;
    --genos--colors-infoLight: #E6F7FF;
    --genos--colors-white: #FFFFFF;
    --genos--colors-overlay: rgba(0, 0, 0, 0.3);
    --genos--colors-disabled: rgba(0, 0, 0, 0.16);
    --genos--colors-disabledLight: rgba(255, 255, 255, 0.16);
    --genos--colors-background: #FFFFFF;
    --genos--colors-shadow: hsl(206 22% 7% / 20%);
    --genos--colors-shadowLight: hsl(206 22% 7% / 35%);
    --genos--fonts-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --genos--fonts-secondary: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --genos--sizes-0: 0rem;
    --genos--sizes-1: 0.25rem;
    --genos--sizes-2: 0.5rem;
    --genos--sizes-3: 0.75rem;
    --genos--sizes-4: 1rem;
    --genos--sizes-5: 1.25rem;
    --genos--sizes-6: 1.5rem;
    --genos--sizes-7: 1.75rem;
    --genos--sizes-8: 2rem;
    --genos--sizes-9: 2.25rem;
    --genos--sizes-10: 2.5rem;
    --genos--sizes-11: 2.75rem;
    --genos--sizes-12: 3rem;
    --genos--sizes-13: 3.25rem;
    --genos--sizes-14: 3.5rem;
    --genos--sizes-15: 3.75rem;
    --genos--sizes-16: 4rem;
    --genos--sizes-17: 4.25rem;
    --genos--sizes-18: 4.5rem;
    --genos--sizes-19: 4.75rem;
    --genos--sizes-20: 5rem;
    --genos--sizes-21: 5.25rem;
    --genos--sizes-22: 5.5rem;
    --genos--sizes-23: 5.75rem;
    --genos--space-0: 0rem;
    --genos--space-1: 0.25rem;
    --genos--space-2: 0.5rem;
    --genos--space-3: 0.75rem;
    --genos--space-4: 1rem;
    --genos--space-5: 1.25rem;
    --genos--space-6: 1.5rem;
    --genos--space-7: 1.75rem;
    --genos--space-8: 2rem;
    --genos--space-9: 2.25rem;
    --genos--space-10: 2.5rem;
    --genos--space-11: 2.75rem;
    --genos--space-12: 3rem;
    --genos--space-13: 3.25rem;
    --genos--space-14: 3.5rem;
    --genos--space-15: 3.75rem;
    --genos--space-16: 4rem;
    --genos--space-17: 4.25rem;
    --genos--space-18: 4.5rem;
    --genos--space-19: 4.75rem;
    --genos--space-20: 5rem;
    --genos--space-21: 5.25rem;
    --genos--space-22: 5.5rem;
    --genos--space-23: 5.75rem;
    --genos--fontSizes-xxs: 0.5rem;
    --genos--fontSizes-xs: 0.625rem;
    --genos--fontSizes-sm: 0.75rem;
    --genos--fontSizes-md: 0.875rem;
    --genos--fontSizes-lg: 1rem;
    --genos--fontSizes-xl: 1.125rem;
    --genos--fontSizes-xxl: 1.25rem;
    --genos--fontSizes-2xl: 1.5rem;
    --genos--fontSizes-3xl: 2.25rem;
    --genos--fontSizes-4xl: 3rem;
    --genos--fontSizes-5xl: 4.5rem;
    --genos--fontSizes-6xl: 6rem;
    --genos--fontSizes-7xl: 8rem;
    --genos--shadows-downSoft: 0px 4px 20px rgba(0, 0, 0, 0.12);
    --genos--shadows-downClose: 0px 4px 8px -4px rgba(0, 0, 0, 0.32);
    --genos--shadows-downMid: 0px 4px 24px -8px rgba(0, 0, 0, 0.4);
    --genos--shadows-downFar: 0px 8px 24px -8px rgba(0, 0, 0, 0.4);
    --genos--shadows-upSoft: 0px -4px 20px rgba(0, 0, 0, 0.12);
    --genos--shadows-upMid: 0px -4px 24px -8px rgba(0, 0, 0, 0.4);
    --genos--shadows-rightMid: 4px 0px 24px -8px rgba(0, 0, 0, 0.4);
    --genos--shadows-leftMid: -4px 0px 24px -8px rgba(0, 0, 0, 0.4);
    --genos--shadows-outline: 0 0 0 2px rgba(0, 120, 255, 0.8);
    --genos--letterSpacings-tighter: -0.05em;
    --genos--letterSpacings-tight: -0.025em;
    --genos--letterSpacings-normal: 0;
    --genos--letterSpacings-wide: 0.025em;
    --genos--letterSpacings-wider: 0.05em;
    --genos--letterSpacings-widest: 0.1em;
    --genos--lineHeights-normal: normal;
    --genos--lineHeights-none: 1;
    --genos--lineHeights-shorter: 1.25;
    --genos--lineHeights-short: 1.375;
    --genos--lineHeights-base: 1.5;
    --genos--lineHeights-tall: 1.625;
    --genos--lineHeights-taller: 2;
    --genos--fontWeights-regular: 400;
    --genos--fontWeights-medium: 500;
    --genos--fontWeights-heavy: 600;
    --genos--fontWeights-light: 300;
    --genos--fontWeights-strong: bolder;
    --genos--borderWidths-none: 0;
    --genos--borderWidths-hairline: 1px;
    --genos--borderWidths-thin: 2px;
    --genos--borderWidths-medium: 4px;
    --genos--borderWidths-thick: 8px;
    --genos--radii-sharp: 0px;
    --genos--radii-small: 4px;
    --genos--radii-medium: 8px;
    --genos--radii-large: 16px;
    --genos--radii-pill: 100%;
    --swiper-theme-color: #007aff;
    font-family: Arboria !important;
    box-sizing: inherit;
    margin: 0;
    font-weight: 400;
    line-height: 1.5;
    font-size: 0.8125rem;
    color: #000;
}
ul{
        -webkit-font-smoothing: antialiased;
    --genos--colors-primary: #000000;
    --genos--colors-primaryLight: #999999;
    --genos--colors-primaryDark: #000000;
    --genos--colors-primarySoft: #CCCCCC;
    --genos--colors-primaryContrast: #FFFFFF;
    --genos--colors-secondary: #000000;
    --genos--colors-secondaryLight: #999999;
    --genos--colors-secondaryDark: #000000;
    --genos--colors-secondarySoft: #CCCCCC;
    --genos--colors-secondaryContrast: #FFFFFF;
    --genos--colors-actionStandard: #0071A3;
    --genos--colors-actionStandardSoft: #E6F1F6;
    --genos--colors-actionStandardHover: #338DB5;
    --genos--colors-actionStandardContrast: #FFFFFF;
    --genos--colors-actionNavigation: #0071A3;
    --genos--colors-actionNavigationSoft: #E6F1F6;
    --genos--colors-actionNavigationHover: #338DB5;
    --genos--colors-actionNavigationContrast: #FFFFFF;
    --genos--colors-actionConversion: #008844;
    --genos--colors-actionConversionSoft: #CCE7DA;
    --genos--colors-actionConversionHover: #33A069;
    --genos--colors-actionConversionContrast: #FFFFFF;
    --genos--colors-neutral: #737373;
    --genos--colors-neutralLight: #B2B2B2;
    --genos--colors-neutralDark: #141414;
    --genos--colors-neutralSoft: #CCCCCC;
    --genos--colors-neutralBody: #737373;
    --genos--colors-neutralBodyLight: #B2B2B2;
    --genos--colors-neutralBodyDark: #141414;
    --genos--colors-error: #C6352F;
    --genos--colors-errorLight: #FFE8E5;
    --genos--colors-success: #008844;
    --genos--colors-successLight: #EBFAF1;
    --genos--colors-alert: #FF9700;
    --genos--colors-alertLight: #FBC679;
    --genos--colors-info: #0071A3;
    --genos--colors-infoLight: #E6F7FF;
    --genos--colors-white: #FFFFFF;
    --genos--colors-overlay: rgba(0, 0, 0, 0.3);
    --genos--colors-disabled: rgba(0, 0, 0, 0.16);
    --genos--colors-disabledLight: rgba(255, 255, 255, 0.16);
    --genos--colors-background: #FFFFFF;
    --genos--colors-shadow: hsl(206 22% 7% / 20%);
    --genos--colors-shadowLight: hsl(206 22% 7% / 35%);
    --genos--fonts-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --genos--fonts-secondary: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --genos--sizes-0: 0rem;
    --genos--sizes-1: 0.25rem;
    --genos--sizes-2: 0.5rem;
    --genos--sizes-3: 0.75rem;
    --genos--sizes-4: 1rem;
    --genos--sizes-5: 1.25rem;
    --genos--sizes-6: 1.5rem;
    --genos--sizes-7: 1.75rem;
    --genos--sizes-8: 2rem;
    --genos--sizes-9: 2.25rem;
    --genos--sizes-10: 2.5rem;
    --genos--sizes-11: 2.75rem;
    --genos--sizes-12: 3rem;
    --genos--sizes-13: 3.25rem;
    --genos--sizes-14: 3.5rem;
    --genos--sizes-15: 3.75rem;
    --genos--sizes-16: 4rem;
    --genos--sizes-17: 4.25rem;
    --genos--sizes-18: 4.5rem;
    --genos--sizes-19: 4.75rem;
    --genos--sizes-20: 5rem;
    --genos--sizes-21: 5.25rem;
    --genos--sizes-22: 5.5rem;
    --genos--sizes-23: 5.75rem;
    --genos--space-0: 0rem;
    --genos--space-1: 0.25rem;
    --genos--space-2: 0.5rem;
    --genos--space-3: 0.75rem;
    --genos--space-4: 1rem;
    --genos--space-5: 1.25rem;
    --genos--space-6: 1.5rem;
    --genos--space-7: 1.75rem;
    --genos--space-8: 2rem;
    --genos--space-9: 2.25rem;
    --genos--space-10: 2.5rem;
    --genos--space-11: 2.75rem;
    --genos--space-12: 3rem;
    --genos--space-13: 3.25rem;
    --genos--space-14: 3.5rem;
    --genos--space-15: 3.75rem;
    --genos--space-16: 4rem;
    --genos--space-17: 4.25rem;
    --genos--space-18: 4.5rem;
    --genos--space-19: 4.75rem;
    --genos--space-20: 5rem;
    --genos--space-21: 5.25rem;
    --genos--space-22: 5.5rem;
    --genos--space-23: 5.75rem;
    --genos--fontSizes-xxs: 0.5rem;
    --genos--fontSizes-xs: 0.625rem;
    --genos--fontSizes-sm: 0.75rem;
    --genos--fontSizes-md: 0.875rem;
    --genos--fontSizes-lg: 1rem;
    --genos--fontSizes-xl: 1.125rem;
    --genos--fontSizes-xxl: 1.25rem;
    --genos--fontSizes-2xl: 1.5rem;
    --genos--fontSizes-3xl: 2.25rem;
    --genos--fontSizes-4xl: 3rem;
    --genos--fontSizes-5xl: 4.5rem;
    --genos--fontSizes-6xl: 6rem;
    --genos--fontSizes-7xl: 8rem;
    --genos--shadows-downSoft: 0px 4px 20px rgba(0, 0, 0, 0.12);
    --genos--shadows-downClose: 0px 4px 8px -4px rgba(0, 0, 0, 0.32);
    --genos--shadows-downMid: 0px 4px 24px -8px rgba(0, 0, 0, 0.4);
    --genos--shadows-downFar: 0px 8px 24px -8px rgba(0, 0, 0, 0.4);
    --genos--shadows-upSoft: 0px -4px 20px rgba(0, 0, 0, 0.12);
    --genos--shadows-upMid: 0px -4px 24px -8px rgba(0, 0, 0, 0.4);
    --genos--shadows-rightMid: 4px 0px 24px -8px rgba(0, 0, 0, 0.4);
    --genos--shadows-leftMid: -4px 0px 24px -8px rgba(0, 0, 0, 0.4);
    --genos--shadows-outline: 0 0 0 2px rgba(0, 120, 255, 0.8);
    --genos--letterSpacings-tighter: -0.05em;
    --genos--letterSpacings-tight: -0.025em;
    --genos--letterSpacings-normal: 0;
    --genos--letterSpacings-wide: 0.025em;
    --genos--letterSpacings-wider: 0.05em;
    --genos--letterSpacings-widest: 0.1em;
    --genos--lineHeights-normal: normal;
    --genos--lineHeights-none: 1;
    --genos--lineHeights-shorter: 1.25;
    --genos--lineHeights-short: 1.375;
    --genos--lineHeights-base: 1.5;
    --genos--lineHeights-tall: 1.625;
    --genos--lineHeights-taller: 2;
    --genos--fontWeights-regular: 400;
    --genos--fontWeights-medium: 500;
    --genos--fontWeights-heavy: 600;
    --genos--fontWeights-light: 300;
    --genos--fontWeights-strong: bolder;
    --genos--borderWidths-none: 0;
    --genos--borderWidths-hairline: 1px;
    --genos--borderWidths-thin: 2px;
    --genos--borderWidths-medium: 4px;
    --genos--borderWidths-thick: 8px;
    --genos--radii-sharp: 0px;
    --genos--radii-small: 4px;
    --genos--radii-medium: 8px;
    --genos--radii-large: 16px;
    --genos--radii-pill: 100%;
    --swiper-theme-color: #007aff;
    font-size: 0.6875rem;
    font-weight: 300;
    line-height: 1.43;
    color: rgba(0, 0, 0, 0.87);
    font-family: Arboria !important;
    box-sizing: inherit;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
    animation-name: jss874;
    flex-direction: row;
    animation-duration: .5s;
}
li{
    -webkit-font-smoothing: antialiased;
    --genos--colors-primary: #000000;
    --genos--colors-primaryLight: #999999;
    --genos--colors-primaryDark: #000000;
    --genos--colors-primarySoft: #CCCCCC;
    --genos--colors-primaryContrast: #FFFFFF;
    --genos--colors-secondary: #000000;
    --genos--colors-secondaryLight: #999999;
    --genos--colors-secondaryDark: #000000;
    --genos--colors-secondarySoft: #CCCCCC;
    --genos--colors-secondaryContrast: #FFFFFF;
    --genos--colors-actionStandard: #0071A3;
    --genos--colors-actionStandardSoft: #E6F1F6;
    --genos--colors-actionStandardHover: #338DB5;
    --genos--colors-actionStandardContrast: #FFFFFF;
    --genos--colors-actionNavigation: #0071A3;
    --genos--colors-actionNavigationSoft: #E6F1F6;
    --genos--colors-actionNavigationHover: #338DB5;
    --genos--colors-actionNavigationContrast: #FFFFFF;
    --genos--colors-actionConversion: #008844;
    --genos--colors-actionConversionSoft: #CCE7DA;
    --genos--colors-actionConversionHover: #33A069;
    --genos--colors-actionConversionContrast: #FFFFFF;
    --genos--colors-neutral: #737373;
    --genos--colors-neutralLight: #B2B2B2;
    --genos--colors-neutralDark: #141414;
    --genos--colors-neutralSoft: #CCCCCC;
    --genos--colors-neutralBody: #737373;
    --genos--colors-neutralBodyLight: #B2B2B2;
    --genos--colors-neutralBodyDark: #141414;
    --genos--colors-error: #C6352F;
    --genos--colors-errorLight: #FFE8E5;
    --genos--colors-success: #008844;
    --genos--colors-successLight: #EBFAF1;
    --genos--colors-alert: #FF9700;
    --genos--colors-alertLight: #FBC679;
    --genos--colors-info: #0071A3;
    --genos--colors-infoLight: #E6F7FF;
    --genos--colors-white: #FFFFFF;
    --genos--colors-overlay: rgba(0, 0, 0, 0.3);
    --genos--colors-disabled: rgba(0, 0, 0, 0.16);
    --genos--colors-disabledLight: rgba(255, 255, 255, 0.16);
    --genos--colors-background: #FFFFFF;
    --genos--colors-shadow: hsl(206 22% 7% / 20%);
    --genos--colors-shadowLight: hsl(206 22% 7% / 35%);
    --genos--fonts-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --genos--fonts-secondary: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --genos--sizes-0: 0rem;
    --genos--sizes-1: 0.25rem;
    --genos--sizes-2: 0.5rem;
    --genos--sizes-3: 0.75rem;
    --genos--sizes-4: 1rem;
    --genos--sizes-5: 1.25rem;
    --genos--sizes-6: 1.5rem;
    --genos--sizes-7: 1.75rem;
    --genos--sizes-8: 2rem;
    --genos--sizes-9: 2.25rem;
    --genos--sizes-10: 2.5rem;
    --genos--sizes-11: 2.75rem;
    --genos--sizes-12: 3rem;
    --genos--sizes-13: 3.25rem;
    --genos--sizes-14: 3.5rem;
    --genos--sizes-15: 3.75rem;
    --genos--sizes-16: 4rem;
    --genos--sizes-17: 4.25rem;
    --genos--sizes-18: 4.5rem;
    --genos--sizes-19: 4.75rem;
    --genos--sizes-20: 5rem;
    --genos--sizes-21: 5.25rem;
    --genos--sizes-22: 5.5rem;
    --genos--sizes-23: 5.75rem;
    --genos--space-0: 0rem;
    --genos--space-1: 0.25rem;
    --genos--space-2: 0.5rem;
    --genos--space-3: 0.75rem;
    --genos--space-4: 1rem;
    --genos--space-5: 1.25rem;
    --genos--space-6: 1.5rem;
    --genos--space-7: 1.75rem;
    --genos--space-8: 2rem;
    --genos--space-9: 2.25rem;
    --genos--space-10: 2.5rem;
    --genos--space-11: 2.75rem;
    --genos--space-12: 3rem;
    --genos--space-13: 3.25rem;
    --genos--space-14: 3.5rem;
    --genos--space-15: 3.75rem;
    --genos--space-16: 4rem;
    --genos--space-17: 4.25rem;
    --genos--space-18: 4.5rem;
    --genos--space-19: 4.75rem;
    --genos--space-20: 5rem;
    --genos--space-21: 5.25rem;
    --genos--space-22: 5.5rem;
    --genos--space-23: 5.75rem;
    --genos--fontSizes-xxs: 0.5rem;
    --genos--fontSizes-xs: 0.625rem;
    --genos--fontSizes-sm: 0.75rem;
    --genos--fontSizes-md: 0.875rem;
    --genos--fontSizes-lg: 1rem;
    --genos--fontSizes-xl: 1.125rem;
    --genos--fontSizes-xxl: 1.25rem;
    --genos--fontSizes-2xl: 1.5rem;
    --genos--fontSizes-3xl: 2.25rem;
    --genos--fontSizes-4xl: 3rem;
    --genos--fontSizes-5xl: 4.5rem;
    --genos--fontSizes-6xl: 6rem;
    --genos--fontSizes-7xl: 8rem;
    --genos--shadows-downSoft: 0px 4px 20px rgba(0, 0, 0, 0.12);
    --genos--shadows-downClose: 0px 4px 8px -4px rgba(0, 0, 0, 0.32);
    --genos--shadows-downMid: 0px 4px 24px -8px rgba(0, 0, 0, 0.4);
    --genos--shadows-downFar: 0px 8px 24px -8px rgba(0, 0, 0, 0.4);
    --genos--shadows-upSoft: 0px -4px 20px rgba(0, 0, 0, 0.12);
    --genos--shadows-upMid: 0px -4px 24px -8px rgba(0, 0, 0, 0.4);
    --genos--shadows-rightMid: 4px 0px 24px -8px rgba(0, 0, 0, 0.4);
    --genos--shadows-leftMid: -4px 0px 24px -8px rgba(0, 0, 0, 0.4);
    --genos--shadows-outline: 0 0 0 2px rgba(0, 120, 255, 0.8);
    --genos--letterSpacings-tighter: -0.05em;
    --genos--letterSpacings-tight: -0.025em;
    --genos--letterSpacings-normal: 0;
    --genos--letterSpacings-wide: 0.025em;
    --genos--letterSpacings-wider: 0.05em;
    --genos--letterSpacings-widest: 0.1em;
    --genos--lineHeights-normal: normal;
    --genos--lineHeights-none: 1;
    --genos--lineHeights-shorter: 1.25;
    --genos--lineHeights-short: 1.375;
    --genos--lineHeights-base: 1.5;
    --genos--lineHeights-tall: 1.625;
    --genos--lineHeights-taller: 2;
    --genos--fontWeights-regular: 400;
    --genos--fontWeights-medium: 500;
    --genos--fontWeights-heavy: 600;
    --genos--fontWeights-light: 300;
    --genos--fontWeights-strong: bolder;
    --genos--borderWidths-none: 0;
    --genos--borderWidths-hairline: 1px;
    --genos--borderWidths-thin: 2px;
    --genos--borderWidths-medium: 4px;
    --genos--borderWidths-thick: 8px;
    --genos--radii-sharp: 0px;
    --genos--radii-small: 4px;
    --genos--radii-medium: 8px;
    --genos--radii-large: 16px;
    --genos--radii-pill: 100%;
    --swiper-theme-color: #007aff;
    font-size: 0.6875rem;
    font-weight: 300;
    line-height: 1.43;
    color: rgba(0, 0, 0, 0.87);
    font-family: Arboria !important;
    box-sizing: inherit;
    list-style: none;
    margin: 5px;
    padding: 5px;
    border-radius: 16px;
    text-decoration: none;
    background-color: #EEEEEE;

}

li:hover{box-shadow: #d8eff9 0px 0px 0px 2px inset, rgba(0, 0, 0, 0.12) 0px 4px 20px;}
a{
    -webkit-font-smoothing: antialiased;
    --genos--colors-primary: #000000;
    --genos--colors-primaryLight: #999999;
    --genos--colors-primaryDark: #000000;
    --genos--colors-primarySoft: #CCCCCC;
    --genos--colors-primaryContrast: #FFFFFF;
    --genos--colors-secondary: #000000;
    --genos--colors-secondaryLight: #999999;
    --genos--colors-secondaryDark: #000000;
    --genos--colors-secondarySoft: #CCCCCC;
    --genos--colors-secondaryContrast: #FFFFFF;
    --genos--colors-actionStandard: #0071A3;
    --genos--colors-actionStandardSoft: #E6F1F6;
    --genos--colors-actionStandardHover: #338DB5;
    --genos--colors-actionStandardContrast: #FFFFFF;
    --genos--colors-actionNavigation: #0071A3;
    --genos--colors-actionNavigationSoft: #E6F1F6;
    --genos--colors-actionNavigationHover: #338DB5;
    --genos--colors-actionNavigationContrast: #FFFFFF;
    --genos--colors-actionConversion: #008844;
    --genos--colors-actionConversionSoft: #CCE7DA;
    --genos--colors-actionConversionHover: #33A069;
    --genos--colors-actionConversionContrast: #FFFFFF;
    --genos--colors-neutral: #737373;
    --genos--colors-neutralLight: #B2B2B2;
    --genos--colors-neutralDark: #141414;
    --genos--colors-neutralSoft: #CCCCCC;
    --genos--colors-neutralBody: #737373;
    --genos--colors-neutralBodyLight: #B2B2B2;
    --genos--colors-neutralBodyDark: #141414;
    --genos--colors-error: #C6352F;
    --genos--colors-errorLight: #FFE8E5;
    --genos--colors-success: #008844;
    --genos--colors-successLight: #EBFAF1;
    --genos--colors-alert: #FF9700;
    --genos--colors-alertLight: #FBC679;
    --genos--colors-info: #0071A3;
    --genos--colors-infoLight: #E6F7FF;
    --genos--colors-white: #FFFFFF;
    --genos--colors-overlay: rgba(0, 0, 0, 0.3);
    --genos--colors-disabled: rgba(0, 0, 0, 0.16);
    --genos--colors-disabledLight: rgba(255, 255, 255, 0.16);
    --genos--colors-background: #FFFFFF;
    --genos--colors-shadow: hsl(206 22% 7% / 20%);
    --genos--colors-shadowLight: hsl(206 22% 7% / 35%);
    --genos--fonts-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --genos--fonts-secondary: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --genos--sizes-0: 0rem;
    --genos--sizes-1: 0.25rem;
    --genos--sizes-2: 0.5rem;
    --genos--sizes-3: 0.75rem;
    --genos--sizes-4: 1rem;
    --genos--sizes-5: 1.25rem;
    --genos--sizes-6: 1.5rem;
    --genos--sizes-7: 1.75rem;
    --genos--sizes-8: 2rem;
    --genos--sizes-9: 2.25rem;
    --genos--sizes-10: 2.5rem;
    --genos--sizes-11: 2.75rem;
    --genos--sizes-12: 3rem;
    --genos--sizes-13: 3.25rem;
    --genos--sizes-14: 3.5rem;
    --genos--sizes-15: 3.75rem;
    --genos--sizes-16: 4rem;
    --genos--sizes-17: 4.25rem;
    --genos--sizes-18: 4.5rem;
    --genos--sizes-19: 4.75rem;
    --genos--sizes-20: 5rem;
    --genos--sizes-21: 5.25rem;
    --genos--sizes-22: 5.5rem;
    --genos--sizes-23: 5.75rem;
    --genos--space-0: 0rem;
    --genos--space-1: 0.25rem;
    --genos--space-2: 0.5rem;
    --genos--space-3: 0.75rem;
    --genos--space-4: 1rem;
    --genos--space-5: 1.25rem;
    --genos--space-6: 1.5rem;
    --genos--space-7: 1.75rem;
    --genos--space-8: 2rem;
    --genos--space-9: 2.25rem;
    --genos--space-10: 2.5rem;
    --genos--space-11: 2.75rem;
    --genos--space-12: 3rem;
    --genos--space-13: 3.25rem;
    --genos--space-14: 3.5rem;
    --genos--space-15: 3.75rem;
    --genos--space-16: 4rem;
    --genos--space-17: 4.25rem;
    --genos--space-18: 4.5rem;
    --genos--space-19: 4.75rem;
    --genos--space-20: 5rem;
    --genos--space-21: 5.25rem;
    --genos--space-22: 5.5rem;
    --genos--space-23: 5.75rem;
    --genos--fontSizes-xxs: 0.5rem;
    --genos--fontSizes-xs: 0.625rem;
    --genos--fontSizes-sm: 0.75rem;
    --genos--fontSizes-md: 0.875rem;
    --genos--fontSizes-lg: 1rem;
    --genos--fontSizes-xl: 1.125rem;
    --genos--fontSizes-xxl: 1.25rem;
    --genos--fontSizes-2xl: 1.5rem;
    --genos--fontSizes-3xl: 2.25rem;
    --genos--fontSizes-4xl: 3rem;
    --genos--fontSizes-5xl: 4.5rem;
    --genos--fontSizes-6xl: 6rem;
    --genos--fontSizes-7xl: 8rem;
    --genos--shadows-downSoft: 0px 4px 20px rgba(0, 0, 0, 0.12);
    --genos--shadows-downClose: 0px 4px 8px -4px rgba(0, 0, 0, 0.32);
    --genos--shadows-downMid: 0px 4px 24px -8px rgba(0, 0, 0, 0.4);
    --genos--shadows-downFar: 0px 8px 24px -8px rgba(0, 0, 0, 0.4);
    --genos--shadows-upSoft: 0px -4px 20px rgba(0, 0, 0, 0.12);
    --genos--shadows-upMid: 0px -4px 24px -8px rgba(0, 0, 0, 0.4);
    --genos--shadows-rightMid: 4px 0px 24px -8px rgba(0, 0, 0, 0.4);
    --genos--shadows-leftMid: -4px 0px 24px -8px rgba(0, 0, 0, 0.4);
    --genos--shadows-outline: 0 0 0 2px rgba(0, 120, 255, 0.8);
    --genos--letterSpacings-tighter: -0.05em;
    --genos--letterSpacings-tight: -0.025em;
    --genos--letterSpacings-normal: 0;
    --genos--letterSpacings-wide: 0.025em;
    --genos--letterSpacings-wider: 0.05em;
    --genos--letterSpacings-widest: 0.1em;
    --genos--lineHeights-normal: normal;
    --genos--lineHeights-none: 1;
    --genos--lineHeights-shorter: 1.25;
    --genos--lineHeights-short: 1.375;
    --genos--lineHeights-base: 1.5;
    --genos--lineHeights-tall: 1.625;
    --genos--lineHeights-taller: 2;
    --genos--fontWeights-regular: 400;
    --genos--fontWeights-medium: 500;
    --genos--fontWeights-heavy: 600;
    --genos--fontWeights-light: 300;
    --genos--fontWeights-strong: bolder;
    --genos--borderWidths-none: 0;
    --genos--borderWidths-hairline: 1px;
    --genos--borderWidths-thin: 2px;
    --genos--borderWidths-medium: 4px;
    --genos--borderWidths-thick: 8px;
    --genos--radii-sharp: 0px;
    --genos--radii-small: 4px;
    --genos--radii-medium: 8px;
    --genos--radii-large: 16px;
    --genos--radii-pill: 100%;
    --swiper-theme-color: #007aff;
    font-size: 0.6875rem;
    font-weight: 300;
    line-height: 1.43;
    list-style: none;
    font-family: Arboria !important;
    box-sizing: inherit;
    text-decoration: none;
    color: rgb(0, 0, 0);
        padding-left: 8px;
    padding-right: 8px;
}
p{
        -webkit-font-smoothing: antialiased;
    --genos--colors-primary: #000000;
    --genos--colors-primaryLight: #999999;
    --genos--colors-primaryDark: #000000;
    --genos--colors-primarySoft: #CCCCCC;
    --genos--colors-primaryContrast: #FFFFFF;
    --genos--colors-secondary: #000000;
    --genos--colors-secondaryLight: #999999;
    --genos--colors-secondaryDark: #000000;
    --genos--colors-secondarySoft: #CCCCCC;
    --genos--colors-secondaryContrast: #FFFFFF;
    --genos--colors-actionStandard: #0071A3;
    --genos--colors-actionStandardSoft: #E6F1F6;
    --genos--colors-actionStandardHover: #338DB5;
    --genos--colors-actionStandardContrast: #FFFFFF;
    --genos--colors-actionNavigation: #0071A3;
    --genos--colors-actionNavigationSoft: #E6F1F6;
    --genos--colors-actionNavigationHover: #338DB5;
    --genos--colors-actionNavigationContrast: #FFFFFF;
    --genos--colors-actionConversion: #008844;
    --genos--colors-actionConversionSoft: #CCE7DA;
    --genos--colors-actionConversionHover: #33A069;
    --genos--colors-actionConversionContrast: #FFFFFF;
    --genos--colors-neutral: #737373;
    --genos--colors-neutralLight: #B2B2B2;
    --genos--colors-neutralDark: #141414;
    --genos--colors-neutralSoft: #CCCCCC;
    --genos--colors-neutralBody: #737373;
    --genos--colors-neutralBodyLight: #B2B2B2;
    --genos--colors-neutralBodyDark: #141414;
    --genos--colors-error: #C6352F;
    --genos--colors-errorLight: #FFE8E5;
    --genos--colors-success: #008844;
    --genos--colors-successLight: #EBFAF1;
    --genos--colors-alert: #FF9700;
    --genos--colors-alertLight: #FBC679;
    --genos--colors-info: #0071A3;
    --genos--colors-infoLight: #E6F7FF;
    --genos--colors-white: #FFFFFF;
    --genos--colors-overlay: rgba(0, 0, 0, 0.3);
    --genos--colors-disabled: rgba(0, 0, 0, 0.16);
    --genos--colors-disabledLight: rgba(255, 255, 255, 0.16);
    --genos--colors-background: #FFFFFF;
    --genos--colors-shadow: hsl(206 22% 7% / 20%);
    --genos--colors-shadowLight: hsl(206 22% 7% / 35%);
    --genos--fonts-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --genos--fonts-secondary: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --genos--sizes-0: 0rem;
    --genos--sizes-1: 0.25rem;
    --genos--sizes-2: 0.5rem;
    --genos--sizes-3: 0.75rem;
    --genos--sizes-4: 1rem;
    --genos--sizes-5: 1.25rem;
    --genos--sizes-6: 1.5rem;
    --genos--sizes-7: 1.75rem;
    --genos--sizes-8: 2rem;
    --genos--sizes-9: 2.25rem;
    --genos--sizes-10: 2.5rem;
    --genos--sizes-11: 2.75rem;
    --genos--sizes-12: 3rem;
    --genos--sizes-13: 3.25rem;
    --genos--sizes-14: 3.5rem;
    --genos--sizes-15: 3.75rem;
    --genos--sizes-16: 4rem;
    --genos--sizes-17: 4.25rem;
    --genos--sizes-18: 4.5rem;
    --genos--sizes-19: 4.75rem;
    --genos--sizes-20: 5rem;
    --genos--sizes-21: 5.25rem;
    --genos--sizes-22: 5.5rem;
    --genos--sizes-23: 5.75rem;
    --genos--space-0: 0rem;
    --genos--space-1: 0.25rem;
    --genos--space-2: 0.5rem;
    --genos--space-3: 0.75rem;
    --genos--space-4: 1rem;
    --genos--space-5: 1.25rem;
    --genos--space-6: 1.5rem;
    --genos--space-7: 1.75rem;
    --genos--space-8: 2rem;
    --genos--space-9: 2.25rem;
    --genos--space-10: 2.5rem;
    --genos--space-11: 2.75rem;
    --genos--space-12: 3rem;
    --genos--space-13: 3.25rem;
    --genos--space-14: 3.5rem;
    --genos--space-15: 3.75rem;
    --genos--space-16: 4rem;
    --genos--space-17: 4.25rem;
    --genos--space-18: 4.5rem;
    --genos--space-19: 4.75rem;
    --genos--space-20: 5rem;
    --genos--space-21: 5.25rem;
    --genos--space-22: 5.5rem;
    --genos--space-23: 5.75rem;
    --genos--fontSizes-xxs: 0.5rem;
    --genos--fontSizes-xs: 0.625rem;
    --genos--fontSizes-sm: 0.75rem;
    --genos--fontSizes-md: 0.875rem;
    --genos--fontSizes-lg: 1rem;
    --genos--fontSizes-xl: 1.125rem;
    --genos--fontSizes-xxl: 1.25rem;
    --genos--fontSizes-2xl: 1.5rem;
    --genos--fontSizes-3xl: 2.25rem;
    --genos--fontSizes-4xl: 3rem;
    --genos--fontSizes-5xl: 4.5rem;
    --genos--fontSizes-6xl: 6rem;
    --genos--fontSizes-7xl: 8rem;
    --genos--shadows-downSoft: 0px 4px 20px rgba(0, 0, 0, 0.12);
    --genos--shadows-downClose: 0px 4px 8px -4px rgba(0, 0, 0, 0.32);
    --genos--shadows-downMid: 0px 4px 24px -8px rgba(0, 0, 0, 0.4);
    --genos--shadows-downFar: 0px 8px 24px -8px rgba(0, 0, 0, 0.4);
    --genos--shadows-upSoft: 0px -4px 20px rgba(0, 0, 0, 0.12);
    --genos--shadows-upMid: 0px -4px 24px -8px rgba(0, 0, 0, 0.4);
    --genos--shadows-rightMid: 4px 0px 24px -8px rgba(0, 0, 0, 0.4);
    --genos--shadows-leftMid: -4px 0px 24px -8px rgba(0, 0, 0, 0.4);
    --genos--shadows-outline: 0 0 0 2px rgba(0, 120, 255, 0.8);
    --genos--letterSpacings-tighter: -0.05em;
    --genos--letterSpacings-tight: -0.025em;
    --genos--letterSpacings-normal: 0;
    --genos--letterSpacings-wide: 0.025em;
    --genos--letterSpacings-wider: 0.05em;
    --genos--letterSpacings-widest: 0.1em;
    --genos--lineHeights-normal: normal;
    --genos--lineHeights-none: 1;
    --genos--lineHeights-shorter: 1.25;
    --genos--lineHeights-short: 1.375;
    --genos--lineHeights-base: 1.5;
    --genos--lineHeights-tall: 1.625;
    --genos--lineHeights-taller: 2;
    --genos--fontWeights-regular: 400;
    --genos--fontWeights-medium: 500;
    --genos--fontWeights-heavy: 600;
    --genos--fontWeights-light: 300;
    --genos--fontWeights-strong: bolder;
    --genos--borderWidths-none: 0;
    --genos--borderWidths-hairline: 1px;
    --genos--borderWidths-thin: 2px;
    --genos--borderWidths-medium: 4px;
    --genos--borderWidths-thick: 8px;
    --genos--radii-sharp: 0px;
    --genos--radii-small: 4px;
    --genos--radii-medium: 8px;
    --genos--radii-large: 16px;
    --genos--radii-pill: 100%;
    --swiper-theme-color: #007aff;
    list-style: none;
    color: rgb(0, 0, 0);
    font-family: Arboria !important;
    box-sizing: inherit;
    margin: 0;
    line-height: 1.5;
    font-size: 0.8125rem;
    font-weight: 300;
}
p span{
    -webkit-font-smoothing: antialiased;
    --genos--colors-primary: #000000;
    --genos--colors-primaryLight: #999999;
    --genos--colors-primaryDark: #000000;
    --genos--colors-primarySoft: #CCCCCC;
    --genos--colors-primaryContrast: #FFFFFF;
    --genos--colors-secondary: #000000;
    --genos--colors-secondaryLight: #999999;
    --genos--colors-secondaryDark: #000000;
    --genos--colors-secondarySoft: #CCCCCC;
    --genos--colors-secondaryContrast: #FFFFFF;
    --genos--colors-actionStandard: #0071A3;
    --genos--colors-actionStandardSoft: #E6F1F6;
    --genos--colors-actionStandardHover: #338DB5;
    --genos--colors-actionStandardContrast: #FFFFFF;
    --genos--colors-actionNavigation: #0071A3;
    --genos--colors-actionNavigationSoft: #E6F1F6;
    --genos--colors-actionNavigationHover: #338DB5;
    --genos--colors-actionNavigationContrast: #FFFFFF;
    --genos--colors-actionConversion: #008844;
    --genos--colors-actionConversionSoft: #CCE7DA;
    --genos--colors-actionConversionHover: #33A069;
    --genos--colors-actionConversionContrast: #FFFFFF;
    --genos--colors-neutral: #737373;
    --genos--colors-neutralLight: #B2B2B2;
    --genos--colors-neutralDark: #141414;
    --genos--colors-neutralSoft: #CCCCCC;
    --genos--colors-neutralBody: #737373;
    --genos--colors-neutralBodyLight: #B2B2B2;
    --genos--colors-neutralBodyDark: #141414;
    --genos--colors-error: #C6352F;
    --genos--colors-errorLight: #FFE8E5;
    --genos--colors-success: #008844;
    --genos--colors-successLight: #EBFAF1;
    --genos--colors-alert: #FF9700;
    --genos--colors-alertLight: #FBC679;
    --genos--colors-info: #0071A3;
    --genos--colors-infoLight: #E6F7FF;
    --genos--colors-white: #FFFFFF;
    --genos--colors-overlay: rgba(0, 0, 0, 0.3);
    --genos--colors-disabled: rgba(0, 0, 0, 0.16);
    --genos--colors-disabledLight: rgba(255, 255, 255, 0.16);
    --genos--colors-background: #FFFFFF;
    --genos--colors-shadow: hsl(206 22% 7% / 20%);
    --genos--colors-shadowLight: hsl(206 22% 7% / 35%);
    --genos--fonts-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --genos--fonts-secondary: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --genos--sizes-0: 0rem;
    --genos--sizes-1: 0.25rem;
    --genos--sizes-2: 0.5rem;
    --genos--sizes-3: 0.75rem;
    --genos--sizes-4: 1rem;
    --genos--sizes-5: 1.25rem;
    --genos--sizes-6: 1.5rem;
    --genos--sizes-7: 1.75rem;
    --genos--sizes-8: 2rem;
    --genos--sizes-9: 2.25rem;
    --genos--sizes-10: 2.5rem;
    --genos--sizes-11: 2.75rem;
    --genos--sizes-12: 3rem;
    --genos--sizes-13: 3.25rem;
    --genos--sizes-14: 3.5rem;
    --genos--sizes-15: 3.75rem;
    --genos--sizes-16: 4rem;
    --genos--sizes-17: 4.25rem;
    --genos--sizes-18: 4.5rem;
    --genos--sizes-19: 4.75rem;
    --genos--sizes-20: 5rem;
    --genos--sizes-21: 5.25rem;
    --genos--sizes-22: 5.5rem;
    --genos--sizes-23: 5.75rem;
    --genos--space-0: 0rem;
    --genos--space-1: 0.25rem;
    --genos--space-2: 0.5rem;
    --genos--space-3: 0.75rem;
    --genos--space-4: 1rem;
    --genos--space-5: 1.25rem;
    --genos--space-6: 1.5rem;
    --genos--space-7: 1.75rem;
    --genos--space-8: 2rem;
    --genos--space-9: 2.25rem;
    --genos--space-10: 2.5rem;
    --genos--space-11: 2.75rem;
    --genos--space-12: 3rem;
    --genos--space-13: 3.25rem;
    --genos--space-14: 3.5rem;
    --genos--space-15: 3.75rem;
    --genos--space-16: 4rem;
    --genos--space-17: 4.25rem;
    --genos--space-18: 4.5rem;
    --genos--space-19: 4.75rem;
    --genos--space-20: 5rem;
    --genos--space-21: 5.25rem;
    --genos--space-22: 5.5rem;
    --genos--space-23: 5.75rem;
    --genos--fontSizes-xxs: 0.5rem;
    --genos--fontSizes-xs: 0.625rem;
    --genos--fontSizes-sm: 0.75rem;
    --genos--fontSizes-md: 0.875rem;
    --genos--fontSizes-lg: 1rem;
    --genos--fontSizes-xl: 1.125rem;
    --genos--fontSizes-xxl: 1.25rem;
    --genos--fontSizes-2xl: 1.5rem;
    --genos--fontSizes-3xl: 2.25rem;
    --genos--fontSizes-4xl: 3rem;
    --genos--fontSizes-5xl: 4.5rem;
    --genos--fontSizes-6xl: 6rem;
    --genos--fontSizes-7xl: 8rem;
    --genos--shadows-downSoft: 0px 4px 20px rgba(0, 0, 0, 0.12);
    --genos--shadows-downClose: 0px 4px 8px -4px rgba(0, 0, 0, 0.32);
    --genos--shadows-downMid: 0px 4px 24px -8px rgba(0, 0, 0, 0.4);
    --genos--shadows-downFar: 0px 8px 24px -8px rgba(0, 0, 0, 0.4);
    --genos--shadows-upSoft: 0px -4px 20px rgba(0, 0, 0, 0.12);
    --genos--shadows-upMid: 0px -4px 24px -8px rgba(0, 0, 0, 0.4);
    --genos--shadows-rightMid: 4px 0px 24px -8px rgba(0, 0, 0, 0.4);
    --genos--shadows-leftMid: -4px 0px 24px -8px rgba(0, 0, 0, 0.4);
    --genos--shadows-outline: 0 0 0 2px rgba(0, 120, 255, 0.8);
    --genos--letterSpacings-tighter: -0.05em;
    --genos--letterSpacings-tight: -0.025em;
    --genos--letterSpacings-normal: 0;
    --genos--letterSpacings-wide: 0.025em;
    --genos--letterSpacings-wider: 0.05em;
    --genos--letterSpacings-widest: 0.1em;
    --genos--lineHeights-normal: normal;
    --genos--lineHeights-none: 1;
    --genos--lineHeights-shorter: 1.25;
    --genos--lineHeights-short: 1.375;
    --genos--lineHeights-base: 1.5;
    --genos--lineHeights-tall: 1.625;
    --genos--lineHeights-taller: 2;
    --genos--fontWeights-regular: 400;
    --genos--fontWeights-medium: 500;
    --genos--fontWeights-heavy: 600;
    --genos--fontWeights-light: 300;
    --genos--fontWeights-strong: bolder;
    --genos--borderWidths-none: 0;
    --genos--borderWidths-hairline: 1px;
    --genos--borderWidths-thin: 2px;
    --genos--borderWidths-medium: 4px;
    --genos--borderWidths-thick: 8px;
    --genos--radii-sharp: 0px;
    --genos--radii-small: 4px;
    --genos--radii-medium: 8px;
    --genos--radii-large: 16px;
    --genos--radii-pill: 100%;
    --swiper-theme-color: #007aff;
    list-style: none;
    color: rgb(0, 0, 0);
    line-height: 1.5;
    font-size: 0.8125rem;
    font-weight: 300;
    box-sizing: inherit;
    font-family: Arboria !important;
}
    #autocompleteResults {
        display: none;
    }

    #autocompleteResults strong {
        font-weight: bold;
        color: black;
    }
    .icon{
        width: 100%;
        max-width: 12px;
        margin-bottom: -2px;
    }